<div id="user-show">
  <!-- flash -->
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <div id="user-info-right">
    <!-- user info -->
    <a href="<%="/users/#{@user.id}/edit"%>">
      <%= image_tag(@user.image, size: "80x80") %>
    </a><br>
  </div>

  <!-- search bar -->


  <!-- sweets index --><!-- create new sweet -->
  <div><%= link_to "*SWEETS*", new_user_sweet_path(@user), id: "new-sweet-link" %></div>

  <!-- recipes search -->
  <%= form_tag "/users/#{current_user.id}/sweets", method: :get do %>
  <table>
    <tr>
      <td>
        <%= text_field_tag :q, params[:q]%>
        <%= button_tag "GET RECIPES" %>
      </td>
    </tr>
  </table>
  <% end %>

  <!-- sweets show -->
  <table id="sweets-container">
    <% @user_sweets.each do |sweet| %>
    <tr>
      <th>
        <%= sweet.name %>
        <%= link_to "X", "/users/#{current_user.id}/sweets/#{sweet.id}", method: :delete %>
      </th>
      <th><u>LOCATION</u></th>
      <th><u>NOTES</u></th>
    </tr>
    <tr>
      <td><%= image_tag(sweet.image, size: "150x140") %></td>
      <td>
        <%= sweet.bakery_name %><br>
        <%= sweet.bakery_location %>
      </td>
      <td><%= sweet.description %></td>
    </tr>
    <tr>
      <% if sweet.rating === 1 %>
      <td><span>★</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></td>
      <% elsif sweet.rating === 2 %>
      <td><span>★</span><span>★</span><span>☆</span><span>☆</span><span>☆</span></td>
      <% elsif sweet.rating === 3 %>
      <td><span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span></td>
      <% elsif sweet.rating === 4 %>
      <td><span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span></td>
      <% elsif sweet.rating === 5 %>
      <td><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></td>
      <% end %>
    </tr>
    <% end %>
  </table>

  <div class="slideshwo">
    <% @user_sweets.each do |sweet| %>
      <div><%= sweet.name %></div>
      <a href="#"><%= image_tag(sweet.image, size: "80x100") %></a>
    <% end %>
  </div>

</div>
